<!DOCTYPE html>
{% load static %}
{% include 'header.html' %}
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<div class="main">
    <form action="blog_write" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h4>Title of the post</h4>
        <input name="topic" id="topic" placeholder="">
        <br><br>
        <h5>Featured Images</h5>
        <input type="file" name="post_img" id="post_img">
        <br>
        <h4>Content area </h4>
        <textarea name="content" id="content"></textarea>
        <div class="center">
            <input type="submit" value="Publish" name="publish" class="btn white-text">
        </div>
    </form>
</div>





                <script>
                        CKEDITOR.replace( 'content' );
                </script>